<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <br>
    <br>
    <br>
    <title>OwDAQ Chart</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://jira.xwiki.org/secure/attachment/34823/Icons8-Windows-8-Numbers-1-Black.ico" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <center>
        <div th:insert="fragments :: header_guest">...</div>
    </center>

    <script type='text/javascript' src="/js/about.js"></script>

</head>

<body>

<center>
    <img src="https://image.flaticon.com/icons/svg/46/46422.svg" />
</center>

<div th:insert="fragments :: footer">...</div>
</body>

</html>