<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <center>

        <div th:insert="fragments :: header">...</div>

    </center>
    <!--Load the AJAX API-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type='text/javascript' src="/js/chart.js"></script>
</head>



<body>
<center>
    <br>
    <br>
    <b>Chart</b>
    <br>
    <br>

    <input type="text" name="dtb_yr" id="dtb_yr" placeholder="Select Date" />




    <form>
<table align="center">
    <tr>
        <th colspan="5">Begin date</th>
        <th colspan="5">End date</th>
    </tr>
    <tr>
        <td>Year</td>
        <td>Month</td>
        <td>Day</td>
        <td>Time</td>
        <td width="10%"></td>
        <td width="10%"></td>
        <td>Year</td>
        <td>Month</td>
        <td>Day</td>
        <td>Time</td>
    </tr>
    <tr>
        <td>
            <select id="begin_year" name="begin_year">
                <option value="2019" />2019
            </select>
        </td>
        <td>
            <select id="begin_month" name="begin_month">
    <option value="01" />January
    <option value="02" />February
    <option value="03" />March
    <option value="04" />Apirl
    <option value="05" />May
    <option value="06" />June
    <option value="07" />July
    <option value="08" />August
    <option value="09" />September
    <option value="10" />October
    <option value="11" />November
    <option value="12" />December
</select>
        </td>
        <td>
            <select id="begin_day" name="begin_day">
    <option value="01" />01
    <option value="02" />02
    <option value="03" />03
    <option value="04" />04
    <option value="05" />05
    <option value="06" />06
    <option value="07" />07
    <option value="08" />08
    <option value="09" />09
    <option value="10" />10
    <option value="11" />11
    <option value="12" />12
    <option value="13" />13
    <option value="14" />14
    <option value="15" />15
    <option value="16" />16
    <option value="17" />17
    <option value="18" />18
    <option value="19" />19
    <option value="20" />20
    <option value="21" />21
    <option value="22" />22
    <option value="23" />23
    <option value="24" />24
    <option value="25" />25
    <option value="26" />26
    <option value="27" />27
    <option value="28" />28
    <option value="29" />29
    <option value="30" />30
    <option value="31" />31
</select>
        </td>
        <td>
            <select id="begin_time" name="begin_time">
    <option value="01" />01:00
    <option value="02" />02:00
    <option value="03" />03:00
    <option value="04" />04:00
    <option value="05" />05:00
    <option value="06" />06:00
    <option value="07" />07:00
    <option value="08" />08:00
    <option value="09" />09:00
    <option value="10" />10:00
    <option value="11" />11:00
    <option value="12" />12:00
    <option value="13" />13:00
    <option value="14" />14:00
    <option value="15" />15:00
    <option value="16" />16:00
    <option value="17" />17:00
    <option value="18" />18:00
    <option value="19" />19:00
    <option value="20" />20:00
    <option value="21" />21:00
    <option value="22" />22:00
    <option value="23" />23:00
    <option value="24" />24:00
</select>
        </td>
        <td width="10%"></td>
        <td width="10%"></td>
        <td>
            <select id="end_year" name="end_year">
        <option value="2019" />2019
    </select>
        </td>
        <td>
            <select id="end_month" name="end_month">
        <option value="01" />January
        <option value="02" />February
        <option value="03" />March
        <option value="04" />Apirl
        <option value="05" />May
        <option value="06" />June
        <option value="07" />July
        <option value="08" />August
        <option value="09" />September
        <option value="10" />October
        <option value="11" />November
        <option value="12" />December
    </select>
        </td>
        <td>
            <select id="end_day" name="end_day">
        <option value="01" />01
        <option value="02" />02
        <option value="03" />03
        <option value="04" />04
        <option value="05" />05
        <option value="06" />06
        <option value="07" />07
        <option value="08" />08
        <option value="09" />09
        <option value="10" />10
        <option value="11" />11
        <option value="12" />12
        <option value="13" />13
        <option value="14" />14
        <option value="15" />15
        <option value="16" />16
        <option value="17" />17
        <option value="18" />18
        <option value="19" />19
        <option value="20" />20
        <option value="21" />21
        <option value="22" />22
        <option value="23" />23
        <option value="24" />24
        <option value="25" />25
        <option value="26" />26
        <option value="27" />27
        <option value="28" />28
        <option value="29" />29
        <option value="30" />30
        <option value="31" />31
    </select>
        </td>
        <td>
            <select id="end_time" name="end_time">
                <option value="01" />01:00
                <option value="02" />02:00
                <option value="03" />03:00
                <option value="04" />04:00
                <option value="05" />05:00
                <option value="06" />06:00
                <option value="07" />07:00
                <option value="08" />08:00
                <option value="09" />09:00
                <option value="10" />10:00
                <option value="11" />11:00
                <option value="12" />12:00
                <option value="13" />13:00
                <option value="14" />14:00
                <option value="15" />15:00
                <option value="16" />16:00
                <option value="17" />17:00
                <option value="18" />18:00
                <option value="19" />19:00
                <option value="20" />20:00
                <option value="21" />21:00
                <option value="22" />22:00
                <option value="23" />23:00
                <option value="24" />24:00
    </select>
        </td>
    </tr>
</table>
        </form>


    <button onclick="drawChartFromTimeSelect()">Generate chart</button>
    <br>
    <button onclick="draw24hFromNow()">drawCurrentDateChart</button>
    <br>
    <br>
    <button onclick="drawPrevDayChart()">Previous Day</button>

    <button onclick="drawTodayDateChart()"> Draw Today Day Chart</button>

    <button onclick="drawNextDayChart()">Next Day</button>
</center>

<br>

<center>
    <div align='left' id='chart_div' style='width: 1500px; height: 800px;'></div>
</center>



<div th:insert="fragments :: footer">...</div>
</body>

</html>