<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>spring-thymeleaf-fragments</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>

<!--

<header th:fragment="header">
    <li class="fragment"><a class="active" href="/index.html">Home</a></li>
    <li class="fragment"><a href="/readings">Readings</a></li>
    <li class="fragment"><a href="/adapters">Adapters</a></li>
    <li class="fragment"><a href="/sites">Sites</a></li>
    <li class="fragment"><a href="/sensors">Sensors</a></li>
    <li class="fragment"><a href="/chart">Chart</a></li>
    <li class="fragment"><a href="/eventlogs">EventLogs</a></li>
    <li class="fragment"><a href="/user">User</a></li>
    <li class="fragment"><a href="/about">About</a></li>
    <li class="fragment"><a href="/test">test</a></li>
    <li class="fragment_logout"><a href="/">Logout</a></li>
</header>

-->

<header th:fragment="header_guest">
    <li class="fragment"><a class="active" href="/index.html">Home</a></li>
    <li class="fragment"><a href="/readings">Readings</a></li>
    <li class="fragment"><a href="/chart">Chart</a></li>
    <li class="fragment"><a href="/about">About</a></li>
</header>



<header th:fragment="header_admin">
    <li class="fragment"><a class="active" href="/home">Home</a></li>
    <li class="fragment"><a href="/adapters">Adapters</a></li>
    <li class="fragment"><a href="/sites">Sites</a></li>
    <li class="fragment"><a href="/sensors">Sensors</a></li>
    <li class="fragment"><a href="/eventlogs">EventLogs</a></li>
    <li class="fragment"><a href="/users">Users</a></li>
    <li class="fragment_logout"><a href="/">Logout</a></li>
</header>

<footer th:fragment="footer">
    <li class="fragment"><i>WBD – druga część projektu</i></li>
    <li class="fragment"><i>Autorzy: Piotr Lorens</i></li>
</footer>


</body>
</html>
