<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OwDAQ Sites</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="https://jira.xwiki.org/secure/attachment/34823/Icons8-Windows-8-Numbers-1-Black.ico" />

    <div th:insert="fragments :: header_admin">...</div>
</head>
<body>

<center>
    <br>
    <br>
    <b>Site List</b>
    <br>
    <br>

    <table class="readings" width="60%">
        <thead>
        <tr>
            <th>ID</th>
            <th>DESCRIPTION</th>
            <th>STATUS</th>
            <th>action</th>
            <th>action</th>
        </tr>
        </thead>
        <th:block th:each="owst : ${installedSites}">
            <tr>
                <td th:text="${owst.ID}"></td>
                <td th:text="${owst.DESCRIPTION}"></td>
                <td th:text="${owst.STATUS}"></td>
                <td><button type="button" th:attr="id=${owst.ID}" onclick="confirmDelete(this)">delete</button></td>
                <td><button type="button" onclick="fillFormData(this.parentNode)">edit</button></td>
            </tr>
        </th:block>
            <tr>
                <td colspan="5">
                    <button type="button" onclick="fillFormToAdd()" title="Click to add new site">
                        <b>+</b>
                    </button>
                </td>
            </tr>
    </table>

    <hr>
    <br>


    <form action="#" th:action="@{/sites}" method="POST">
        <table>
            <tr>
                <td>ID:</td>
                <td>
                    <input readonly="true" id="fillId" type="text" name="ID" />
                </td>
            </tr>
            <tr>
                <td>DESCRIPTION: </td>
                <td>
                    <input id="fillDesc" type="text" name="DESCRIPTION" />
                </td>
            </tr>

            <tr>
                <td>STATUS:</td>
                <td>
                    <select id="fillStatus" name="STATUS">
                        <option value="A">Active</option>
                        <option value="D">Disabled</option>
                        <option value="M">Maintenance</option>
                    </select>
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
    </form>
</center>

<script type='text/javascript' src="/js/sites.js"></script>

<div th:insert="fragments :: footer">...</div>

</body>
</html>