<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>OwDAQ Users</title>
    <!--Load the AJAX API-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="https://jira.xwiki.org/secure/attachment/34823/Icons8-Windows-8-Numbers-1-Black.ico" />


    <div th:insert="fragments :: header_admin">...</div>

</head>



<body>
<br>
<br>
<br>
<center>
    <b>Users</b>
</center>
<br>
<br>
<br>
<center>
    <i>
        Tutaj będzie obsługa dodawania i usuwania użytkowników z prawami admina
        <br>
        W logach musi byc info który admin edytuje układ
    </i>
</center>


<div th:insert="fragments :: footer">...</div>
</body>

</html>